<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div id="app">
    <el-container>
        <el-header style="margin-bottom: 70px;">
            <div class="top-nav">
                <div class="top-nav-item">
                    合作伙伴
                </div>
                <div class="top-nav-item">
                    联系我们
                </div>
                <div class="top-nav-item">
                    App下载
                </div>
                <div class="top-nav-item">
                    <el-button class="top-nav-btn">登陆 / 注册</el-button>
                </div>
            </div>
            <div>
                <el-row>
                    <el-col :span="8">
                        <img th:src="@{/image/logo.png}"/>
                    </el-col>
                    <el-col :span="16" style="margin-top: 30px; padding-left: 7%">
                        <ul style="list-style-type:none">
                            <li class="nav-item">关于我们</li>
                            <li class="nav-item">|</li>
                            <li class="nav-item">新闻动态</li>
                            <li class="nav-item">|</li>
                            <li class="nav-item">消防商城</li>
                            <li class="nav-item">|</li>
                            <li class="nav-item">产品介绍</li>
                            <li class="nav-item">|</li>
                            <li class="nav-item">软件平台</li>
                            <li class="nav-item">|</li>
                            <li class="nav-item">解决方案</li>
                            <li class="nav-item">|</li>
                            <li class="nav-item">服务支持</li>
                            <li class="nav-item">|</li>
                            <li class="nav-item">体验中心</li>
                        </ul>
                    </el-col>
                </el-row>
            </div>
        </el-header>
        <el-main>
            <template>
                <div class="block" style="width: 960px; margin: auto">
                    <el-carousel height="630px">
                        <el-carousel-item>
                            <img th:src="@{/image/banner1.jpg}"/>
                        </el-carousel-item>
                        <el-carousel-item>
                            <img th:src="@{/image/banner2.jpg}"/>
                        </el-carousel-item>
                        <el-carousel-item>
                            <img th:src="@{/image/banner3.jpg}"/>
                        </el-carousel-item>
                        <el-carousel-item>
                            <img th:src="@{/image/banner4.jpg}"/>
                        </el-carousel-item>
                        <el-carousel-item>
                            <img th:src="@{/image/banner5.jpg}"/>
                        </el-carousel-item>
                    </el-carousel>
                </div>
            </template>
        </el-main>
        <el-footer style="text-align: center">
            <div class="copyright">Copyright©2018 www.0heng.com 版权所有</div>
        </el-footer>
    </el-container>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return { visible: false }
        }
    })
</script>
</html>